<p class="text-xs text-center text-gray-400 dark:text-gray-500 pb-4">
  Powered by <%= link_to 'Giant Partners', 'https://giantpartners.com', target: '_blank', class: 'hover:underline hover:text-gray-800 dark:hover:text-white' %>
</p>
