<%= title 'Dashboard' %>

div class="flex flex-col xl:flex-row xl:space-x-6 space-y-6 xl:space-y-0 mt-6">
  <%= dashboard_list type: 'queue', list: @queue %>
  <%= dashboard_list type: 'history', list: @history %>
</div>

<div class="flex flex-wrap">
  
</div>